@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PokemonSolid";
  src: url("/fonts/PokemonSolid.ttf") format("truetype");
}

@font-face {
  font-family: "PokemonHollow";
  src: url("/fonts/PokemonHollow.ttf") format("truetype");
}

@layer base {
  :root {
    --background: 260, 23%, 97%;
    --background-dark: 225, 24%, 16%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 209, 63%, 45%;
    --primary-dark: 223, 47%, 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 48, 100%, 51%;
    --secondary-dark: 47, 100%, 45%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230, 24%, 19%;
    --background-dark: 225, 24%, 16%;
    --foreground: 210 40% 98%;
    --card: 231, 22%, 24%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 209, 63%, 45%;
    --primary-dark: 223, 47%, 44%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 48, 100%, 51%;
    --secondary-dark: 47, 100%, 45%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border font-pokemon-solid tracking-widest;
  }
  body {
    @apply bg-background dark:text-[#CBCBE2];
  }
}

@layer utilities {
  .default-transition {
    @apply transition duration-300 ease-in-out;
  }

  .btn-press-effect {
    @apply hover:scale-105 active:scale-95 active:shadow-none;
  }

  .btn-primary {
    @apply btn-press-effect default-transition rounded-full border border-secondary bg-primary-dark text-secondary shadow-md;
  }

  .btn-secondary {
    @apply btn-press-effect default-transition rounded-full border-2 border-primary bg-secondary text-primary shadow-md;
  }

  .btn-secondary:hover {
    @apply hover:bg-secondary-dark;
  }

  .btn-primary:hover {
    @apply hover:bg-primary-dark;
  }

  .flex-center {
    @apply flex items-center justify-center gap-5;
  }

  .flex-center-col {
    @apply flex flex-col items-center justify-center gap-5;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}

@layer components {
  .card {
    @apply default-transition bg-card hover:border-primary hover:bg-blue-500/20 dark:hover:border-yellow-400 dark:hover:bg-yellow-400/20;
  }

  .input {
    @apply rounded-lg border border-input bg-input p-2 text-input dark:bg-input dark:text-input;
  }

  .input:focus {
    @apply ring ring-ring;
  }

  .input-error {
    @apply text-destructive;
  }

  .input-error:focus {
    @apply ring-destructive;
  }
}
